# Ignorar arquivos de configuração do IntelliJ
.idea/
*.iml
*.iws
*.ipr
.xml

# Ignorar compilados (pasta out e target se houver)
out/
target/
build/
*.class

# Ignorar arquivos de sistema do Windows/Mac
.DS_Store
Thumbs.db

# Ignorar pastas de log ou temporárias
*.log
*.tmp

# Ignorar a tal pasta de exportação HTML se ela for gerada automaticamente
EXPORTHTML/
exportToHTML/
